## Words

In [4]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [51]:
[x.upper() for x in words]

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

In [50]:
for i in words:
    print(i.capitalize())

Play
Filling
Bar
Theatre
Easygoing
Date
Lead
That
Story
Island

**Create a new list containing only words with 5 or more letters**

In [46]:
new_words = []
for i in words:
    if i[5:]:
        new_words.append(i)

print(new_words)

['filling', 'theatre', 'easygoing', 'island']

**Print the first word starting with "t"**

In [48]:
for i in words:
    if i.startswith("t"):
        print(i)
        break

theatre

In [49]:
for i in words:
    if i[0] == "t":
        print(i)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [52]:
new_list = []
for i in range(1,11):
    new_list.append(i*i)
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
new_list = [i*i for i in range(1,11)]
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [57]:
new_list = [i*i for i in range(1,11,2)]
new_list

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [13]:
#**Create a list with the squares of all multiples of 8 below 1000**
new_list = [i*i for i in range(8,1000,8)]
new_list

[64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064]

## People

In [4]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [14]:
count_people = 0

for i in people:
    count_people += 1

print(f"There are {count_people} people")

There are 5 people

**How many people have kids**?

In [31]:
count_kids=0
for age in people:
    if age["n_kids"] != 0:
        count_kids +=1
print(f"{count_kids} People have kids")

4 People have kids

**How many kids do they have in total?**

In [34]:
kids=0
for age in people:
    if age["n_kids"] != 0:
        kids += int(age["n_kids"])
print(f"They have in total {kids} kids")

They have in total 10 kids

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [41]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]
kids=0
for a in people:
    if a["name"].endswith("a"):
        a["n_kids"] += 1

print(people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]