## Words

In [4]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [11]:
# your code here
str_words = str(words)
str_words.upper()

#not right because it changes to a string and can't go back

"['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']"

In [42]:
new_list =[]

for i in words:
    new_list.append(i.upper())
    
print(new_list)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

In [43]:
new_list = [i.upper() for i in words]
new_list

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [14]:
# your code here

new_list = []

for i in words:
    if len(words) >= 5:
        #print(i)
        new_list.append(i)
        
print(new_list)
    
#maybe 'bar' is conting with the '' so it's 5, correct?

['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

**Print the first word starting with "t"**

In [19]:
# your code here

for i in words:
    string = str(i)
    if string.startswith("t"):
        print(i)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [31]:
# your code here
import math
square_list = []

for i in range(1,11):
    value = math.pow(i,2)
    square_list.append(value)
    
print(square_list)

[1.0, 4.0, 9.0, 16.0, 25.0, 36.0, 49.0, 64.0, 81.0, 100.0]

**Print a list containing the square of every odd number from 1 to 10**

In [32]:
# your code here

odd_square_list = []

for i in range(1,11):
    value = math.pow(i,2)
    is_odd = value % 2
    if is_odd != 0:
        odd_square_list.append(value)
        
print(odd_square_list)

[1.0, 9.0, 25.0, 49.0, 81.0]

**Create a list with the squares of all multiples of 8 below 1000**

In [35]:
# your code here

multiples_8 = []

for i in range(0,1000):
    value = math.pow(i,2)
    is_multiple_8 = value % 8
    if is_multiple_8 == 0:
        multiples_8.append(value)
        
print(multiples_8)

[0.0, 16.0, 64.0, 144.0, 256.0, 400.0, 576.0, 784.0, 1024.0, 1296.0, 1600.0, 1936.0, 2304.0, 2704.0, 3136.0, 3600.0, 4096.0, 4624.0, 5184.0, 5776.0, 6400.0, 7056.0, 7744.0, 8464.0, 9216.0, 10000.0, 10816.0, 11664.0, 12544.0, 13456.0, 14400.0, 15376.0, 16384.0, 17424.0, 18496.0, 19600.0, 20736.0, 21904.0, 23104.0, 24336.0, 25600.0, 26896.0, 28224.0, 29584.0, 30976.0, 32400.0, 33856.0, 35344.0, 36864.0, 38416.0, 40000.0, 41616.0, 43264.0, 44944.0, 46656.0, 48400.0, 50176.0, 51984.0, 53824.0, 55696.0, 57600.0, 59536.0, 61504.0, 63504.0, 65536.0, 67600.0, 69696.0, 71824.0, 73984.0, 76176.0, 78400.0, 80656.0, 82944.0, 85264.0, 87616.0, 90000.0, 92416.0, 94864.0, 97344.0, 99856.0, 102400.0, 104976.0, 107584.0, 110224.0, 112896.0, 115600.0, 118336.0, 121104.0, 123904.0, 126736.0, 129600.0, 132496.0, 135424.0, 138384.0, 141376.0, 144400.0, 147456.0, 150544.0, 153664.0, 156816.0, 160000.0, 163216.0, 166464.0, 169744.0, 173056.0, 176400.0, 179776.0, 183184.0, 186624.0, 190096.0, 193600.0, 197136.0, 200704.0, 204304.0, 207936.0, 211600.0, 215296.0, 219024.0, 222784.0, 226576.0, 230400.0, 234256.0, 238144.0, 242064.0, 246016.0, 250000.0, 254016.0, 258064.0, 262144.0, 266256.0, 270400.0, 274576.0, 278784.0, 283024.0, 287296.0, 291600.0, 295936.0, 300304.0, 304704.0, 309136.0, 313600.0, 318096.0, 322624.0, 327184.0, 331776.0, 336400.0, 341056.0, 345744.0, 350464.0, 355216.0, 360000.0, 364816.0, 369664.0, 374544.0, 379456.0, 384400.0, 389376.0, 394384.0, 399424.0, 404496.0, 409600.0, 414736.0, 419904.0, 425104.0, 430336.0, 435600.0, 440896.0, 446224.0, 451584.0, 456976.0, 462400.0, 467856.0, 473344.0, 478864.0, 484416.0, 490000.0, 495616.0, 501264.0, 506944.0, 512656.0, 518400.0, 524176.0, 529984.0, 535824.0, 541696.0, 547600.0, 553536.0, 559504.0, 565504.0, 571536.0, 577600.0, 583696.0, 589824.0, 595984.0, 602176.0, 608400.0, 614656.0, 620944.0, 627264.0, 633616.0, 640000.0, 646416.0, 652864.0, 659344.0, 665856.0, 672400.0, 678976.0, 685584.0, 692224.0, 698896.0, 705600.0, 712336.0, 719104.0, 725904.0, 732736.0, 739600.0, 746496.0, 753424.0, 760384.0, 767376.0, 774400.0, 781456.0, 788544.0, 795664.0, 802816.0, 810000.0, 817216.0, 824464.0, 831744.0, 839056.0, 846400.0, 853776.0, 861184.0, 868624.0, 876096.0, 883600.0, 891136.0, 898704.0, 906304.0, 913936.0, 921600.0, 929296.0, 937024.0, 944784.0, 952576.0, 960400.0, 968256.0, 976144.0, 984064.0, 992016.0]

## People

In [37]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [38]:
# your code here

print(len(people))

5

**How many people have kids**?

In [51]:
# your code here

counter = 0

for i in people:
    if i["n_kids"] != 0:
        counter += 1
print(counter)

4

**How many kids do they have in total?**

In [55]:
# your code here

sum_kids = 0

for i in people:
    sum_kids += i["n_kids"]
sum_kids

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [68]:
# your code here

new_list = {}

for i in people:
    if i["name"].endswith("a"):
        i["n_kids"] += 1
        new_list.update(i)
print(new_list)

{'name': 'Lucía', 'age': 22, 'n_kids': 7}